:root{
    --dark-blue: #192f60;
    --dark-red: #ce0505;
    --light-grey: #d2d9e6;
    --light-blue: #636f88;
}

h1,
h2,
h3,
h4{
  margin: 0;
}


.restaurant-details {
  min-height: 130vh;
  width: 90%;
  margin: 60px auto;
}

.restaurant-img {
  width: 100%;
  min-height: 64vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.img-gallery-btn {
  position: absolute;
  right: 20px;
  bottom: 20px;
  border: none;
  width: 242px;
  height: 48px;
  padding: 13px 13px 12px 16px;
  opacity: 0.8;
  border-radius: 3px;
  background-color: #fff;
  font-size: 16px;
  font-weight: 600;
  color: var(--dark-blue);
  cursor: pointer;
}


.restaurant-name{
  color: var(--dark-blue);
  font-size: 36px;
  font-weight: 600;
  margin-top: 40px;
}



.navigation{
  margin-top: 30px;
  position: relative;
}

.nav-name{
  color: var(--dark-blue);
  font-size: 20px;
  font-weight: 600;
}

.overview-box, .contact-box{
  margin-top: 30px;
  margin-left: 30px;
}

.about-name{
  color: var(--dark-blue);
  font-size: 24px;
  font-weight: 600;
}

.cuisine-box, .avg-box, .res-address{
  margin-top: 30px;
}

.cuisine-text, .avg-text{
  color: var(--dark-blue);
  font-size: 18px;
}

.cuisine-info h4, .avg-info h4{
  color: var(--dark-blue);
  font-weight: 500;
  font-size: 18px;
  margin-top: 8px;
}

.cuisine-info h4{
  margin-top: -4px;
  display: flex;
  gap: 10px;
}

.place-order-btn{
  position: absolute;
  right: 30px;
  top: -5px;
  background-color: var(--dark-red);
  border: none;
  padding: 13px 23px 12px 32px;
  color: white;
  font: inherit;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}

.phone-nob-text{
  color: var(--dark-blue);
  font-size: 22px;
  font-weight: 500;
}

.act-phone-no, .act-phone-no{
  color: var(--dark-red);
  font-weight: 500;
  font-size: 20px;
}

.res-address{
  margin-top: 50px;
}

.rest-name{
  color: var(--dark-blue);
  font-size: 20px;
  font-weight: 600;
}

.rest-address{
  width: 40%;
  color: var(--light-blue);
  font-weight: 400;
  margin-top: 10px;
}

.back{
  position: absolute;
  left: 30px;
  top: 14vh;
  background-color: var(--dark-red);
  border: none;
  padding: 5px 25px;
  color: white;
  font: inherit;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}


.place-order-btn:hover, .back:hover{
  background-color: rgba(206, 5, 5, 0.8);
}