* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  background-color: #fbfbfb;
}

/*header-listing styling*/


.search-content {
  width: 88vw;
  min-height: 120vh;
  margin: auto;
  margin-top: 3%;
  margin-bottom: 3%;
}
.search-text {
  color: #192f60;
  font-weight: bold;
  font-size: 40px;
}

.filter-search-sec {
  width: 95%;
  min-height: 90%;
  margin-top: 2.5%;
  display: flex;
  justify-content: space-between;
}

.filter-sec-box {
  display: none;
}

.filter-sec {
  width: 22%;
  height: 100%;
  padding-left: 32px;
  padding-top: 24px;
  color: #192f60;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25), 0px -1px 5px rgba(0, 0, 0, 0.1);
}

.search-results {
  width: 72%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.search-box {
  width: 100%;
  min-height: 320px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.16), 0px -1px 5px rgba(0, 0, 0, 0.1);
}

.search-result1 {
  margin-bottom: 3.5%;
}

.filter-text {
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 10px;
}

.select-loc-text {
  font-size: 20px;
  margin-top: 8px;
  margin-bottom: 10px;
}

.location-listing {
  width: 90%;
  height: 5%;
  border: 1px solid #636f88;
  border-radius: 3px;
  margin-bottom: 5px;
}
#location-listing-search {
  width: 98%;
  height: 90%;
  margin-left: 3px;
  font-size: 13px;
  outline: none;
  background-color: #ffffff;
  border: none;
  color: #8c96ab;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  transition: 350ms ease-in;
  padding: 0 5px;
  padding-top: 5px;
}

.food-con-type {
  margin-bottom: 10px;
  position: relative;
}

.food-con-type label {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  color: #8c96ab;
  font-size: 18px;
}

.food-con-type input[type="checkbox"] {
  cursor: pointer;
  opacity: 0;
  position: absolute;
}

.food-con-type label::before {
  content: "";
  width: 20px;
  height: 20px;
  border: 2px solid #192f60;
  margin-right: 11px;
  margin-top: 3px;
  transition: 200ms;
}

.food-con-type input[type="checkbox"]:checked + label::before {
  background-color: #3a5075;
}

.food-con-type input[type="checkbox"]:checked + label::before {
  content: "\002714";
  font-size: 15px;
  font-weight: 400;
  color: #fafbfc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cost,
.sort {
  margin-bottom: 8px;
}
.cost input[type="radio"],
.sort input[type="radio"] {
  display: none;
}

.cost label,
.sort label {
  font-size: 18px;
}

.cost label::before,
.sort label::before {
  margin-right: 11px;
}

.cost input[type="radio"] + label,
.sort input[type="radio"] + label {
  cursor: pointer;
  position: relative;
  padding-left: 32px;
  display: inline-block;
  color: #8c96ab;
}

.cost input[type="radio"] + label::before,
.sort input[type="radio"] + label::before {
  content: "";
  position: absolute;
  width: 19px;
  height: 19px;
  border: 2px solid#3a5075;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  border-radius: 50%;
  transition: 200ms;
}

.cost input[type="radio"]:checked + label::before,
.sort input[type="radio"]:checked + label::before {
  box-shadow: inset 0 0 0 0.1rem #fff, inset 0 0 0 32px #3a5075;
}
.cuisine {
  margin-top: 25px;
}

.cuisine-text,
.cost-for-two-text,
.sort-text {
  font-size: 20px;
  margin-bottom: 11px;
}
.cost {
  margin-bottom: 5px;
}

.cost-for-two,
.sort {
  margin-top: 20px;
}

.sort-radio {
  margin-bottom: 5px;
  color: #8c96ab;
}

.search-main-box {
  width: 90%;
  height: 65%;
  margin-left: 19px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.search-food-desc {
  width: 90%;
  height: 35%;
  padding-top: 16px;
  margin: auto;
  margin-top: 0;
  color: #636f88;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  border-top: 1px solid #dedfe5;
}

.food-img-listing {
  width: 18%;
  height: 70%;
  border-radius: 20%;
  background-image: url(https://i.ibb.co/19mtZ2V/breakfast1x.png);
  background-size: cover;
  background-position: center center;
}

.food-hotel {
  width: 70%;
  height: 75%;
  color: #192f60;
  padding-top: 16px;
}

.hotel-name {
  font-weight: 600;
  font-size: 30px;
}

.fort {
  font-weight: 400;
  font-size: 20px;
}

.address {
  color: #636f88;
  font-size: 18px;
}

.cuisines {
  width: 60%;
  height: 50%;
  margin-left: 0;
  padding: 10px 18px;
  margin-top: 0px;
}

.cuisines-text,
.cost-for-two-per-text {
  display: inline-block;
  font-size: 20px;
}
.cuisines-val,
.cost-val {
  display: inline-block;
  right: 0px;
  margin-left: 90px;
  color: #192f60;
  font-size: 20px;
}

.cost-val {
  margin-left: 50px;
}

.cost-for-two-per {
  width: 60%;
  height: 50%;
  padding: 0 18px;
  margin-bottom: 20px;
}

.pagination-sec {
  height: 6%;
  width: 50%;
  margin: auto;
  margin-bottom: 20px;
  padding: 2px;
  text-align: center;
}

.pagination-sec li {
  display: inline-block;
  height: 36px;
  width: 36px;
  margin-left: 7px;
  border: 1px solid #8c96ab;
  border-radius: 10px;
  position: relative;
  transition: 350ms;
}

.pagination-sec li a {
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #8c96ab;
}
.pagination-sec .active a {
  color: #fff;
}

.active,
li:hover {
  background-color: #8c96ab;
  cursor: pointer;
}

li:hover a {
  color: #fff;
  text-decoration: none;
}

.loader{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 1145px) {
  .search-content {
    width: 95vw;
    height: 130vh;
    margin: auto;
    margin-left: 2%;
  }
  .filter-sec {
    width: 25%;
  }

  .food-img-listing {
    margin-left: 20px;
    width: 30%;
    height: 60%;
  }
  .food-hotel {
    margin-left: 50px;
  }
  .pagination-sec {
    width: 70%;
  }
}

@media screen and (max-width: 905px) {
  .search-content {
    height: 115vh;
  }
  .search-text {
    font-size: 35px;
  }
  .filter-text {
    font-size: 20px;
  }
  .select-loc-text {
    font-size: 18px;
  }
  .location-listing {
    width: 95%;
  }
  .cuisine-text,
  .cost-for-two-text,
  .sort-text {
    font-size: 18px;
  }
  .food-con-type label,
  .cost-for-two label,
  .sort label {
    font-size: 16px;
  }
  .food-con-type {
    margin-bottom: 8px;
  }
  .sort-radio,
  .cost {
    margin-bottom: 0px;
  }
  .food-img-listing {
    width: 25%;
  }
  .hotel-name {
    font-size: 25px;
  }
  .fort {
    font-size: 17px;
  }
  .address {
    font-size: 15px;
  }
  .cuisines,
  .cost-for-two-per {
    width: 70%;
  }
  .cuisines-text,
  .cost-for-two-per-text {
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  .logo-listing-circle-listing {
    height: 70px;
    width: 70px;
  }

  .logo-listing {
    font-size: 10px;
  }

  .login-listing-acc {
    width: 75%;
  }
  #login-listing {
    margin-right: 15px;
  }
  #acc-btn-listing {
    padding: 5px 10px;
    margin-right: 5px;
    margin-right: 15px;
  }
  .search-content {
    width: 95vw;
    height: 130vh;
  }

  .search-text {
    text-align: center;
    font-size: 30px;
    margin-bottom: 16px;
    margin-top: 16px;
  }
  .filter-search-sec {
    width: 92%;
    height: 90%;
    margin: auto;
    flex-direction: column;
    justify-content: flex-start;
  }

  .filter-sec-box {
    display: block;
    width: 100%;
    height: 7%;
    margin: auto;
    margin-top: 4px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1), 0px 0px 5px rgba(0, 0, 0, 0.1);
  }

  #filter-content-text {
    color: #192f60;
    font-size: 20px;
    font-weight: 400;
    margin-left: 8px;
  }

  .filter-sec-box select {
    width: 95%;
    height: 100%;
    color: #192f60;
    background: transparent;
    border: none;
  }
  .filter-sec {
    width: 100%;
    height: 70%;
    display: none;
  }
  .search-results {
    width: 100%;
    height: 89%;
  }

  .search-box {
    width: 100%;
    height: 45%;
    margin-bottom: 7%;
  }

  .search-main-box {
    width: 97%;
    margin-left: 2px;
    margin-bottom: 8px;
  }

  .food-img-listing {
    min-width: 22%;
    height: 50%;
    margin-left: 11px;
  }

  .hotel-name {
    font-size: 21px;
    margin-top: 0;
  }

  .fort {
    font-size: 15px;
  }

  .address {
    font-size: 13px;
  }

  .search-food-desc {
    padding-top: 11px;
    padding-bottom: 8px;
    padding-left: 0;
  }
  .cuisines,
  .cost-for-two-per {
    width: 95%;
    height: 45%;
    padding: 10px;
    font-size: 14px;
  }

  .food-hotel {
    height: 60%;
    margin-left: 5%;
  }
  .hotel-name {
    /* padding-top: 4%; */
    font-size: 25px;
  }
  .fort {
    font-size: 18px;
  }
  .address {
    font-size: 16px;
  }
  .search-main-box {
    margin-left: 3%;
  }

  .search-box {
    height: 40%;
    margin-bottom: 40px;
  }

  .cuisine-text,
  .cost-for-two-per-text,
  .cuisines-val,
  .cost-val {
    font-size: 18px;
  }

  .pagination-sec {
    width: 70%;
    height: 6%;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 440px) {
  #header-listing {
    height: 10vh;
  }

  .logo-listing-sec {
    width: 25%;
  }

  .logo-listing-circle-listing {
    height: 50px;
    width: 50px;
  }

  .logo-listing {
    font-size: 20px;
  }

  .login-listing-acc {
    width: 75%;
    justify-content: flex-end;
  }

  #login-listing a {
    font-size: 13px;
    margin-right: 16px;
  }

  #acc-btn-listing {
    padding: 11px;
    margin-right: 16px;
    line-height: 1.6;
    font-size: 13px;
  }
  .search-content {
    width: 93vw;
    height: 115vh;
  }

  .search-text {
    text-align: center;
    font-size: 23px;
    margin-bottom: 16px;
    margin-top: 16px;
  }
  .filter-search-sec {
    width: 92%;
    height: 80%;
    margin: auto;
    flex-direction: column;
    justify-content: flex-start;
  }

  .filter-sec-box {
    display: block;
    width: 100%;
    height: 7%;
    margin: auto;
    margin-top: 4px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1), 0px 0px 5px rgba(0, 0, 0, 0.1);
  }

  #filter-content-text {
    color: #192f60;
    font-size: 15px;
    font-weight: 400;
    margin-left: 8px;
  }

  .filter-sec-box select {
    width: 95%;
    height: 100%;
    color: #192f60;
    background: transparent;
    border: none;
  }
  .filter-sec {
    width: 100%;
    height: 70%;
    display: none;
  }
  .search-results {
    width: 100%;
    height: 89%;
  }

  .search-box {
    width: 100%;
    height: 45%;
    margin-bottom: 7%;
  }

  .search-main-box {
    width: 97%;
    margin-left: 2px;
    margin-bottom: 8px;
  }

  .food-img-listing {
    min-width: 22%;
    height: 50%;
    margin-left: 11px;
  }

  .food-hotel {
    width: 75%;
    height: 80%;
    margin-left: 16px;
  }

  .hotel-name {
    font-size: 21px;
    margin-top: 0;
  }

  .fort {
    font-size: 15px;
  }

  .address {
    font-size: 13px;
  }

  .search-food-desc {
    padding-top: 11px;
    padding-bottom: 8px;
    padding-left: 0;
  }
  .cuisines,
  .cost-for-two-per {
    width: 95%;
    height: 40%;
    padding: 0;
    font-size: 14px;
  }

  .pagination-sec {
    width: 100%;
    height: 8%;
  }

  .pagination-sec li {
    width: 29px;
    height: 29px;
  }
}

@media screen and (max-width: 360px) {
  #acc-btn-listing {
    padding: 2px 10px;
  }
}
